h2 {
    margin: 30px;
  }

.booking-content {
    background-color: #BAD2CF;
    padding: 40px;
    color: #030303;
    text-align: center;
    overflow: hidden;
}

.booking-form{
    background-color: #fdeded;
    padding: 100px;
    color: #030303;
    overflow: hidden;
}

.confirm-booking {
    background-color:#fbdcdc;
    text-align: center;
    margin-top: 30px;
    padding: 30px;
}