/* Customer */

h2 {
  margin: 30px;
}

#search {
  margin: 30px;
}

#info {
  display: block;
  margin: auto;
}

.service-card {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  box-shadow: 0px 0px 5px 2px #858485;
  background-color: whitesmoke;
}

.retail-content {
  background-color: #BAD2CF;
  padding: 30px;
  color: #030303;
  overflow: hidden;
}

.service-content {
  margin: 10px;
  background-color: #fdeded;
  padding: 80px;
  color: #030303;
  overflow: hidden;
}