/* Customer */

h2 {
  margin: 30px;
}

#search {
  margin: 30px;
}

#info {
  display: block;
  margin: auto;
}

.service-card {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  box-shadow: 0px 0px 5px 2px #858485;
  background-color: whitesmoke;
}

.retail-content {
  background-color: #BAD2CF;
  padding: 30px;
  color: #030303;
  overflow: hidden;
  min-height: 25vh;
}

.service-content {
  background-color: #fdeded;
  padding: 80px;
  color: #030303;
  min-height: 65vh;
  overflow: hidden;
}

.wrapperCustomerBookingList {
  background-color: #FFFFFF;
  margin-top: 30px;
  margin-bottom: 300px;
  padding: 50px;
}

.wrapperCustomerProfile {
  display: inline-block;
  margin: 10px;
  padding: 100px;
  box-shadow: 0px 0px 5px 2px #858485;
  margin-bottom: 225px;
  margin-top: 60px;
  text-align: center;
}

.wrapperProfileEdit {
  background-color: #FFFFFF;
  padding: 50px;
  margin-top: 100px;
  margin-bottom: 300px;
  box-shadow: 0px 0px 10px 5px #858485;
}

.wrapperCreateCustomer {
  background-color: #FFFFFF;
  padding: 50px;
  margin-top: 100px;
  margin-bottom: 310px;
  box-shadow: 0px 0px 10px 5px #858485;
}

/* .root {
  min-height: 100vh;
} */
