/* Customer */
.serviceList {
  display: inline-block;
  margin: 20px;
  padding: 20px;
  box-shadow: 0px 0px 5px 2px #858485;
}

.wrapperCustomerBookingList {
  background-color: #FFFFFF;
  margin-top: 80px;
  margin-bottom: 250px;
}

.wrapperProfileEdit {
  background-color: #FFFFFF;
  padding: 30px;
  margin-top: 80px;
  margin-bottom: 375px;
  text-align: center;
}

.wrapperProfile {
  background-color: #FFFFFF;
  padding: 50px;
  margin-top: 100px;
  margin-bottom: 380px;
  text-align: center;
  font-size: 30px;
  box-shadow: 0px 0px 10px 5px #858485;
}

.wrapperCreateCustomer {
  background-color: #FFFFFF;
  padding: 30px;
  margin-top: 80px;
  margin-bottom: 375px;
  text-align: center;
}
