/* FOOTER */

footer {
  background-color: #F5D7D7;
  height: 100px;
  color: #030303;
  position: absolute;
  width: 100%;
}

.copyRight {
  color: #030303;
  font-size: 15px;
  text-align: center;
  display: inline-block;
}

.iconFooter {
  text-align: center;
  display: block;
  font-size: 15px;
}

.wrapperFooter {
  display: table-caption;
  text-align: center;
  margin-left: 30px;
}
