.wrapper {
    background-color: #FFFFFF;
    padding: 50px;
    margin-top: 100px;
    margin-bottom: 250px;
    box-shadow: 0px 0px 10px 5px #858485;
  }
.wrapperProfile {
  background-color: #FFFFFF;
  padding: 50px;
  margin-top: 100px;
  margin-bottom: 380px;
  text-align: center;
  font-size: 30px;
  box-shadow: 0px 0px 10px 5px #858485;
}
